/* universal styling */

* {
    font-size: 16px;
    /* border: 1px solid black; */
}

h1 {
    font-family: "original surfer";
    padding: 1rem;
    font-size: 1.5rem;
}


/* header section */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(252, 152, 2);
    font-family: "original surfer";
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left span {
    font-size: 2rem;
}

img {
    height: 2.5rem;
    width: 2.5rem;
    padding: 1rem;
}

.nav {
    display: flex;
    padding-right: 1rem;
}

.nav a {
    text-decoration: none;
    color: black;
}

/* ingredients section */

.ingredients {
    display: flex;
    border-bottom: 2px solid rgb(252, 152, 2);
}

.ingredients-left {
    width: 50%;
}

.ingredients-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ingredients-right img {
    width: 325px;
    height: 220px;
    border: 2px solid rgb(252, 152, 2);
}

/* procedural section */

.procedure {
    border-bottom: 2px solid rgb(252, 152, 2);
}

/* video */

/* footer */
  
footer {
    margin-top: 2rem;
    border-top: 2px solid rgb(252, 152, 2);
}